body{
    font-family: 'Poppins', sans-serif;
    margin:0;
    background-color: #cee9f6 ;
}
.two-side{
    display:flex;
    padding-top:50px;
    margin-bottom: 150px;
}
.half{
    flex-basis: 50%;
    padding-left: 10%;
}
.half img{
    width:80%;
    
}

.left-border{
    border-left:5px solid;
   border-image: linear-gradient(to bottom,#13b9eb,#3eeb13);
   border-image-slice: 1;
   padding-left:5px;
    
}

.top-head{
    color: #13aeeb;
    font-weight:900;
}
.description{
padding-bottom: 20px;
}
.link-btn{
    background-color:#5A8BC3;
    text-decoration: none;
    color:#fff;
    padding:10px 24px;
    border-radius: 5px;
    font-size: 22px;
    background-image: linear-gradient(to right,#74adee,#0f529e);
}

.link-btn:hover{
    display:inline-block;
    width:250px;
    background-image:linear-gradient(to right,#13eb86, #3eeb13) ;
}

/* TOP PART ENDS HERE */

/* SECOND SECTION STARTS HERE */

.bigger-font{
    font-size:40px;
}
.lonely-h{
    text-align: center;
    margin-bottom: 60px;
}

.lonely-h .span1{
    color:#f07d3a;
}
.lonely-h .span2{
    color:#13eb86;
}

/* SECOND SECTION STARTS */

.three-box{
    display:flex;
    width:80%;
    margin:0 auto 100px;
    
    /*overflow:hidden; */
    
}
.three-box .box{

    width:25%;
    height:45vh;
    margin:auto;
    padding: 20px;
    text-align: justify;
    box-shadow: 3px 3px 5px 5px grey;

    
}
.three-box .box img{
    width:50%;
    height: auto;
}

.three-box .first{
    background-color: #b3f8b3;
    border-radius:10px;
}

.three-box .first:hover{
    background-color:#19b1ee;
    box-shadow:1px 1px 1px 30px #19b1ee;
}

.three-box .second{
   
    background-color: #eea9cb;
    border-radius:10px;
}

.three-box .second:hover{
    background-color:#036d6d ;
    box-shadow: 1px 1px 1px 30px #036d6d;
}

.three-box .third{
    background-color:navajowhite;
    border-radius:10px;
}

.three-box .third:hover{
    background-color: #39E528;
    box-shadow: 1px 1px 1px 30px #39E528;
}
.three-box h3{
    text-align:center;
    margin-top: 0;
}

/* SECOND SECTION/ THREE BOX SECTION ENDS HERE */
