body{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    background-color: #cee9f6 ;
}
.two-side{
    display:flex;
    padding-top:50px;
    margin:0 20px 120px;
}
.half{
    flex-basis: 50%;
    padding-left: 10%;
}
.half img{
    width:80%;
    
}

.left-border{
    border-left:5px solid;
   border-image: linear-gradient(to bottom,#13b9eb,#3eeb13);
   border-image-slice: 1;
   padding-left:5px;
    
}

.top-head{
    color: #13aeeb;
    font-weight:900;
}
.description{
padding-bottom: 30px;
}
.link-btn{
    background-color:#5A8BC3;
    text-decoration: none;
    color:#fff;
    padding:10px 24px;
    border-radius: 5px;
    font-size: 22px;
    background-image: linear-gradient(to right,#74adee,#0f529e);
}

.link-btn:hover{
    display:inline-block;
    width:250px;
    background-image:linear-gradient(to right,#13eb86, #3eeb13) ;
}

/* TOP PART ENDS HERE */

/* SECOND SECTION STARTS HERE */

.bigger-font{
    font-size:40px;
}
.lonely-h{
    text-align: center;
    margin-bottom: 40px;
}

.lonely-h .span1{
    color:#f07d3a;
}
.span2{
    color:#06fb89;
}

/* SECOND SECTION STARTS */

.three-box{
    display:flex;
    width:80%;
    margin:0 auto 100px;
    
    /*overflow:hidden; */
    
}
.three-box .box{

    width:25%;
    height:45vh;
    margin:auto;
    padding: 20px;
    text-align: justify;
    box-shadow: 3px 3px 5px 5px grey;

    
}
.three-box .box img{
    width:50%;
    height: auto;
}

.three-box .first{
    background-color: #b3f8b3;
    border-radius:10px;
}

.three-box .first:hover{
    background-color:#19b1ee;
    box-shadow:1px 1px 1px 30px #19b1ee;
}

.three-box .second{
   
    background-color: #eea9cb;
    border-radius:10px;
}

.three-box .second:hover{
    background-color:#036d6d ;
    box-shadow: 1px 1px 1px 30px #036d6d;
}

.three-box .third{
    background-color:navajowhite;
    border-radius:10px;
}

.three-box .third:hover{
    background-color: #39E528;
    box-shadow: 1px 1px 1px 30px #39E528;
}
.three-box h3{
    text-align:center;
    margin-top: 0;
}

/* SECOND SECTION/ THREE BOX SECTION ENDS HERE */

/* CODITATE SECTION STARTS */

.coditate img{
    border:5px solid #e96597;
    border-radius:50%;
}
.coditate h2{
    color:#e9911e;
    text-shadow:1px #e9911e;
}
.coditate h1{
    color:coral;
    margin-left: 90px;
    font-size:30px;
}

.coditate p{
    color:#ee5118;
    text-align: justify;
}

/* CODITATE SECTION ENDS */

/* GLOBAL SECTION STARTS HERE */

.global img{
    border-radius:50%;
    border:2px solid rgb(51, 128, 0);
 
}

.contact h1{
    text-align: center;
    color:#0f529e;
    font-size:30px;
    font-weight:800;
   
}
form{
    background-color:#88cef6 ; /* #95fa30 */
    max-width:40%;
    margin:0 auto;
    padding:40px;
    border-radius:10px;
    
}

form .input input{
width:100%;
margin:15px auto;
padding:10px 0;
font-size:21px;
background-color:transparent;
border:none;
border-bottom:2px solid #f02289;
outline:none;
color:#f50909;
}

form .checkbox{
    font-size:20px;
    color:#f02289;
    font-weight:800;
    
}
form .click{
    margin:30px auto;
    
    
}

form button{
    padding:10px 25px;
    font-size:23px;
    background-color:#ee14ee ;
    border:none;
    border-radius:5px;
    color:white;
    cursor:pointer;


}
form button:hover{
    display:inline-block;
    width:100%;
    background-color:#d32424 ;
}
/* FORM ENDS HERE */

footer{
    background-color: black;
    height:20vh;
    
}
footer .first{
color:white;

}
footer .second{
    color:tomato;
    
}
footer h1{
    font-size:25px;
    text-align:center;
    padding-top:20px;
    
}
footer p{
    color:white;
    text-align: center;
}